@import "tailwindcss";

:root {
  --background: #FAF9F6;
  --foreground: #1f1f1f;
  --top-bar: #F6F0D7;
  --primary: #9CAB84;
  --secondary: #C5D89D;
  --accent: #89986D;
  --button: #546B41;
}

.body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--inter), Arial, Helvetica, sans-serif;
}

.top-bar {
background: var(--top-bar);
}

.primary{
background: var(--primary);
}

.secondary {
  background: var(--secondary);
}

.accent {
  background: var(--accent);
}

.button {
background: var(--button);
}